<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Empresa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  {% load static %}
  
  <!-- Favicons -->
  <link href="{% static 'assets7/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets7/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets7/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets7/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets7/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets7/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets7/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets7/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets7/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">
    <div class="branding d-flex align-items-center">
      <div class="container position-relative d-flex align-items-center justify-content-between">
        <nav id="navmenu" class="navmenu">
          
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a class="cta-btn d-none d-sm-block" href="{% url 'perfil_empresa' %}">Perfil da Empresa</a>
      </div>
    </div>
  </header>

  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">
      <img src="{% static 'assets7/img/3d-rendering-black-white-background.jpg' %}" alt="" data-aos="fade-in">
      <div class="container position-relative">
        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>Bem vindo </h2> <h1 style="color: white;" >{{empresa}}</h1>
          <p>Somos um e-commerce focado no sector automovel</p>
        </div><!-- End Welcome -->
        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Todos Produtos</h3>
              <p>
                Este link leva você a uma página onde todos os produtos listados no vetor5 estão disponíveis para visualização. A página exibe detalhes importantes de cada produto, como nome, descrição, preço e imagem
              </p>
              <div class="text-center">
                <a href="{% url 'ver_produto_empresa' %}" class="more-btn"><span>Ver produtos</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div style="background-color: white;" class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-cart-fill"></i>
                    <h4><a href="{% url 'carrinho_empresa' %}">Nosso carrinho</a></h4>
                    <p>Acesse e revise seu carrinho.</p>
                  </div>
                </div><!-- End Icon Box -->
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div style="background-color: white;" class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-telephone-forward-fill"></i> <h4><a href="{% url 'contacto_empresa' %}">Contactar Loja</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                  </div>
                </div><!-- End Icon Box -->
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div style="background-color: white;" class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-receipt-cutoff"></i>                    <h4><a href="{% url 'listar_faturas_empresas' %}">Nossas facturas</a></h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>
                </div><!-- End Icon Box -->
              </div>
            </div>
          </div>
        </div><!-- End  Content-->
      </div>
    </section><!-- /Hero Section -->
  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets7/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets7/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets7/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets7/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets7/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets7/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets7/js/main.js' %}"></script>
</body>
</html>
